# dependencies
/web-app/node_modules/

# Next.js
/web-app/.next/
/web-app/out/

# production
/web-app/build/

# env files
/web-app/.env*.local
/web-app/.env

# Vercel
/web-app/.vercel/

# coverage
/web-app/coverage/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
/web-app/next-env.d.ts

# Yarn
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
